%h1 まめ知識一覧
%div.digg_pagination
  = will_paginate @knowledges, :container => false,:previous_label=>'«前', :next_label=>'次»'
%table
  %tr
    %th タイトル
    %th User
    %th

  - @knowledges.each do |knowledge|
    %tr
      %td= knowledge.title
      %td= knowledge.user_id
      %td= link_to '詳細', knowledge

%br

